<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Sentiment Analysis</title>

    {# Boostrap CDN #}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="text-center">
        <h1>Sentiment Analysis</h1>
        <p>Enter the text for sentiment analysis</p>
      </div>

      {# Iput form for text #}
      <form
        method="POST"
        class="mt-4"
      >
        {% csrf_token %}
        <div class="mb-3">
          <label
            for="user_input"
            class="form-label"
            >Text:</label
          >
          <textarea
            id="user_input"
            name="user_input"
            class="form-control"
            rows="4"
            placeholder="Write here..."
          >
{{ user_input }}</textarea
          >
        </div>

        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-primary btn-lg"
          >
            Analyze
          </button>
        </div>
      </form>

      {# Analysis Result #} {% if sentiment %}
      <div class="mt-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Analysis Result</h3>
            <p class="card-text"><strong>Sentiment:</strong> {{ sentiment }}</p>
            <p class="card-text"><strong>Polarity:</strong> {{ polarity }}</p>
            <p class="card-text">
              <strong>Subjectivity:</strong> {{ subjectivity }}
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    {# Boostrap Script #}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
      integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
